.home-full {
    background: black;
    background: url('../../images/night-sky-new.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
}
.hello-full {
    min-height: 100vh;
    
}
.hi-message-con {
    color: white;
    margin-top: 30vh;
    font-family: 'Do Hyeon', sans-serif;
}
.hi-message-con p {
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(308deg, #a0e9ff, #a162e8, #f093b0, #edca85);
    background-size: 800% 800%;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 10vh;

    -webkit-animation: shifting-color 9s ease infinite;
    -moz-animation: shifting-color 9s ease infinite;
    animation: shifting-color 9s ease infinite;
}
.little-desc {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.hi-message-con a {
    color: white !important;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
.hello-2 {
    margin-top: 10vh;
    height: 80vh;
    background: url('../../images/astronaut.png');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-animation: astronaut-sway 80s linear infinite;
    -moz-animation: astronaut-sway 80s linear infinite;
    animation: astronaut-sway 80s linear infinite;
}
.emma-gif-con {
    height: 60vh;
    width: 60vh;
    background: url('../../images/emma-dark.gif');
    background-size: cover;
    background-position: center;
}
.portfolio-slick {
    height: 100vh;
}
.portfolio-slick-con {
    height: 30vh;
    border-radius: 10px;
    background: #191919;
}
.portfolio-individual {
    height: 25vh;
}
.portfolio-image-con {
    height: 40vh;
}
.portfolio-individual img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    /* filter: grayscale(100%); */
    transition: 0.5s;
}
.portfolio-individual img:hover {
    cursor: pointer;
    filter: grayscale(0%);
}
.portfolio-name a{
    font-weight: bold;
    color: white !important;
    text-decoration: underline;
}
.logo {
    height: 60px;
    width: 60px;
}
.my-navbar {
    background: transparent !important;
    position: absolute;
}
.navbar-nav {
    flex-direction: row !important;
}
.nav-link {
    color: white !important;
    font-size: 12px;
}
.nav-item.active .nav-link {
    background: linear-gradient(308deg, #a0e9ff, #a162e8, #f093b0, #edca85);
    background-size: 800% 800%;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: shifting-color 9s ease infinite;
    -moz-animation: shifting-color 9s ease infinite;
    animation: shifting-color 9s ease infinite;
}
.about-section {
    min-height: 50vh;
}
.section-title {
    font-family: 'Do Hyeon', sans-serif;
    color: white;
}
.about-me-box {
    min-height: 60vh;
    border-radius: 10px;
    background: #191919;
    color: white;
    border: 1px solid transparent;
}
.about-me-box .sub-section-title {
    font-weight: bold;
}
.about-me-box a {
    color: white !important;
}
.tools-icons {
    min-height: 15vh;
    flex-wrap: wrap;
}
.tools-icons img{
    height: 10vh;
    width: 10vh;
}
.portfolio-section {
    border: 1px solid transparent;
    
}
.indiv-portfolio-con {
    min-height: 52vh;
    border-radius: 10px;
    /* background: #191919; */
    color: white;
    border: 1px solid transparent;
}
.indiv-portfolio-image {
    height: 40vh;
}
.indiv-portfolio-image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* filter: grayscale(100%); */
    transition: 0.5s;
}
.indiv-portfolio-image img:hover{
    filter: grayscale(0%);
}

.indiv-portfolio-info {
}
.indiv-portfolio-info span{
    font-size: 12px;
}
.link-tag {
    color: white !important;
    text-decoration: underline;
}
.website-name {
    margin-top: 10px;
}
.website-info {
    font-size: 12px;
}
.portfolio-dots {
    color: white;
    font-size: 5vh;
    font-weight: bold;
}
.slick-slide {
    padding: 0px 10px;
}
.contact-section {
    color: white;
}
.contact-con {
    
}
.indiv-contact {
    height: 18vh;
    border-radius: 10px;
    background: #191919;
    color: white;
    border: 1px solid transparent;
}
.contact-con i {
    border-radius: 50%;
    /* background: linear-gradient(308deg, #a0e9ff, #a162e8, #f093b0, #edca85);
    background-size: 800% 800%;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: shifting-color 9s ease infinite;
    -moz-animation: shifting-color 9s ease infinite;
    animation: shifting-color 9s ease infinite; */
}
.contact-con p {
    font-size: 12px;
}
.contact-btn {
    background: linear-gradient(308deg, #a0e9ff, #a162e8, #f093b0, #edca85);
    background-size: 800% 800%;
    color: #fff;

    -webkit-animation: shifting-color 9s ease infinite;
    -moz-animation: shifting-color 9s ease infinite;
    animation: shifting-color 9s ease infinite;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 40px;
}
.contact-section p {
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .hello-2 {
        margin-top: 10px;
        height: 40vh;
    }
    .hi-message-con {
        margin-top: 20vh;
    }
}
@-webkit-keyframes astronaut-sway {
    0%{background-position:center}
    25%{background-position: 0% 50%;}
    50%{background-position: 100% 50%}
    75%{background-position:50% 100%} 
    100%{background-position:center}
  }
  @-moz-keyframes astronaut-sway {
    0%{background-position:center}
    25%{background-position: 0% 0%;}
    50%{background-position: 100% 0%}
    75%{background-position:100% 100%} 
    100%{background-position:center}
  }
  @keyframes astronaut-sway {
    0%{background-position:center}
    25%{background-position: 0% 0%;}
    50%{background-position: 100% 0%}
    75%{background-position:100% 100%} 
    100%{background-position:center}
  }
